[project]
	description = Notify me when my favorite dish is available
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ajaydivakaran
[access "refs/for/refs/*"]
	read = group user/ajaydivakaran
	push = group user/ajaydivakaran
	label-Code-Review = -2..+2 group user/ajaydivakaran
	label-Verified = -1..+1 group user/ajaydivakaran
	rebase = group user/ajaydivakaran
	removeReviewer = group user/ajaydivakaran
	submit = group user/ajaydivakaran
[access "refs/heads/*"]
	read = group user/ajaydivakaran
	create = group user/ajaydivakaran
	push = +force group user/ajaydivakaran
	pushMerge = group user/ajaydivakaran
[access "refs/tags/*"]
	push = group user/ajaydivakaran
	push = +force group user/ajaydivakaran
